<div class="shopping">
    <?php if (is_null($result)):?>
    <div class="emptyCart">
        Корзина пуста
    </div>
    <?php else:?>
   
    <header>
        <div>Product Details</div>
        <div>unite Price</div>
        <div>Quantity</div>
        <div>shipping</div>
        <div>subtotal</div>
        <div>ACTION</div>
    </header>

    <?php foreach($result as $item): ?>
    <section>
        <div class="productDetails">
            <img class="image" src="<?=$imgDir.$item['img']?>" alt="<?=$item['name']?>">
            <div class="textProduct">
                <h3><?=$item['name']?></h3>
            </div>
        </div>
        <div>$<?=$item['price']?></div>
        <div><input type="number" name="quantity" value="<?=$item['quantity']?>" onchange="hundleNumberChange(this)"></div>
        <div>FREE</div>
        <div>$<output name="result"><?=$item['quantity']*$item['price']?></output></div>
        <div><a href="public/deleteProductInCart.php?id_cart=<?=$item['id']?>"><img src="img/cansel.png" alt="cansel"></a></div>
    </section>
    <?php endforeach?>

    <footer>
        <form action="public/clear_cart.php">
            <button id="clearButton" type="submit">CLEAR SHOPPING CART</button>
        </form>
        <span>В корзине n товаров на сумму $</span>
        <form action="engine/order.php">
            <button id="proceed" type="submit">PROCEED TO CHECKOUT</button>
        </form>
    </footer>
    
    <?php  endif?>
</div>